@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;900&display=swap%27');
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;400;500;600;700;800;900 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
}

header{
    height: 111px;
    background-color: #EFEDED;
}

#font-logo{
    width: 245px;
    position: absolute;
    z-index: 2;
    margin-left: 9%;
}

.container-logo{
    width: 245px;
    height: 111px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: center;
}

.img-lsv{

}

.chevron-droit{
    width: 14px;
    height: 14px;
    margin-right: 1%;
}

.chevron-gauche{
    width: 14px;
    height: 14px;
    margin-right: 1%;
}

#info-accueil{
    display: flex;
    align-items: center;
}

#info-accueil p{
    color: #B6A886;
    font-family: "Montserrat";
    font-size: 20px;
}

#home{
    width: 10%;
    height: 10%;
    margin-right: 2%;
}

#acces-rapide{
    color: #B6A886;
    font-family: "Montserrat";
    font-size: 20px;
}

#info-offre-billeterie-contacter p{
    margin: 0;
    font-family: "Montserrat";
}

#info-offre-billeterie{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

#info-contacter{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

#information-contact{
    color: #B6A886;
    font-family: "Montserrat";
    font-size: 20px;
}

#info-tel-email-lieu p{
    margin: 0;
    font-family: "Montserrat";
    font-size: 14px;
}

#info-tel{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

#tel{
    text-decoration: none;
    color: #1B3168;
}

#info-email{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

#email{
    text-decoration: none;
    color: #1B3168;
}

#info-lieu{
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

#lieu{
    text-decoration: none;
    color: #1B3168    ;
}

#nos-partenaires{
    color: #B6A886;
    font-size: 20px;
    font-family: "Montserrat";
}

#rectangle{
    display: flex;
    height: 230px;
    background: rgba(27, 49, 104, 0.1);
    justify-content: center;
    align-items: center;
}

#content-img-rectangle{
    display: flex;
    justify-content: center;
}

#slider-gauche{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chevron-gauche-slider{
    width: 90%;
}

#content-img-partenaire{
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-droit{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chevron-droit-slider{
    width: 90%;
}

#all-partenaire{
    display: flex;
    justify-content: center;
    text-align: center;
}

#all-partenaire p{
    width: 215px;
    font-family: "Montserrat";
    font-size: 14px;
}

#all-partenaire p a{
    color: black;
}

#font-bleu{
    background-color: #1B3168;
    height: 50%;
    display: flex;
    position: relative;
    top: 50%;
}

nav{
    display: flex;
    position: relative;
    margin-left: calc(9% + 244px);
}

li{
    width: 130px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover{
    background-color: #B6A886;
    cursor: pointer;
    color: #1B3168;
}

#li-contact{
    background-color: #B6A886;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Montserrat";
}

@media(max-width:800px){
    nav{
        display: none;
    }

    #font-logo{
        margin-left: 15%;
    }

    #menu-hamburger{
        display: grid;
        justify-content: center;
        width: 9%;
        cursor: pointer;
    }

    .trait{
        border: 2px solid red;
        margin: 5px;
        padding-right: 50px;
        background-color: red;
        border-radius: 5px;
    }
}